# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle
/build/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
bin/
.vscode/

# Logs
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# OS
.DS_Store
Thumbs.db
